boto3==1.6.4
botocore==1.9.4
dj-config-url==0.1.1
dj-database-url==0.5.0
Django==2.0.2
django-storages==1.6.5
docutils==0.14
et-xmlfile==1.0.1
gunicorn==19.7.1
jdcal==1.3
jmespath==0.9.3
lml==0.0.1
openpyxl==2.5.0
Pillow==5.0.0
psycopg2==2.7.4
pyexcel==0.5.7
pyexcel-io==0.5.6
pyexcel-xls==0.5.5
pyexcel-xlsx==0.5.5
python-dateutil==2.6.1
pytz==2018.3
s3transfer==0.1.13
six==1.11.0
texttable==1.2.1
xlrd==1.1.0
xlwt==1.3.0
